In [35]:
import pandas as pd
import yfinance as yf

In [36]:
# Get max range data of SPX500
df = yf.download("SPY")

[*********************100%***********************]  1 of 1 completed

In [37]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,25.438091,1003200
1993-02-01,43.968750,44.250000,43.968750,44.250000,25.619019,480500
1993-02-02,44.218750,44.375000,44.125000,44.343750,25.673307,201300
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.944689,529400
1993-02-04,44.968750,45.093750,44.468750,45.000000,26.053240,531500
...,...,...,...,...,...,...
2022-06-17,365.510010,369.380005,362.170013,365.859985,365.859985,111071900
2022-06-21,371.890015,376.529999,371.809998,375.070007,375.070007,76811900
2022-06-22,370.619995,378.720001,370.179993,374.390015,374.390015,90059400
2022-06-23,376.640015,378.829987,372.890015,378.059998,378.059998,79292100
2022-06-24,381.399994,390.089996,381.369995,390.079987,390.079987,97860000

In [38]:
# Library for the technical indicators
import ta

In [62]:
# Simple Moving Average Indicator (SMA)
df['SMA'] = ta.trend.SMAIndicator(df['Close'], window=14).sma_indicator()

In [63]:
# Moving Average Convergence Divergence (MACD)
df['MACD'] = ta.trend.MACD(df['Close'], window_sign=14).macd()

In [78]:
# Relative Strength Index (RSI)
df['RSI'] = ta.momentum.RSIIndicator(df['Close'], window=14).rsi()

In [79]:
# Percentage Price Oscillator indicator (PPO)
ta.momentum.ppo(df['Close'], window_sign=14)

Date
1993-01-29         NaN
1993-02-01         NaN
1993-02-02         NaN
1993-02-03         NaN
1993-02-04         NaN
                ...
2022-06-17   -2.645449
2022-06-21   -2.680905
2022-06-22   -2.693907
2022-06-23   -2.598366
2022-06-24   -2.244280
Name: PPO_12_26, Length: 7405, dtype: float64

In [65]:
# Average Directional Index (ADX)
df['ADX'] = ta.trend.ADXIndicator(df['High'], df['Low'], df['Close'], window=14).adx()

C:\Users\User\anaconda3\lib\site-packages\ta\trend.py:769: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
C:\Users\User\anaconda3\lib\site-packages\ta\trend.py:774: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

In [85]:
# Williams Percent Range (%R)
df['R%'] = ta.momentum.WilliamsRIndicator(df['High'], df['Low'], df['Close'], lbp=14).williams_r()

In [73]:
# Accumulation/Distribution Line Indicator (A/D)
df['ADI'] = ta.volume.acc_dist_index(df['High'], df['Low'], df['Close'], df['Volume'])

In [77]:
#  Aroon Oscillator (AO)
df['AI'] = ta.trend.AroonIndicator(df['Close'], window=14).aroon_indicator()

In [82]:
# Commodity Channel Index (CCI)
df['CCI'] = ta.trend.CCIIndicator(df['High'], df['Low'], df['Close'], window=14).cci()

In [86]:
df

,Open,High,Low,Close,Adj Close,Volume,SMA,MACD,RSI,ADX,R%,ADI,AI,CCI
Date,,,,,,,,,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,25.438091,1003200,NaN,NaN,NaN,0.000000,NaN,7.165714e+05,NaN,NaN
1993-02-01,43.968750,44.250000,43.968750,44.250000,25.619019,480500,NaN,NaN,NaN,0.000000,NaN,1.197071e+06,NaN,NaN
1993-02-02,44.218750,44.375000,44.125000,44.343750,25.673307,201300,NaN,NaN,NaN,0.000000,NaN,1.348046e+06,NaN,NaN
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.944689,529400,NaN,NaN,NaN,0.000000,NaN,1.806860e+06,NaN,NaN
1993-02-04,44.968750,45.093750,44.468750,45.000000,26.053240,531500,NaN,NaN,NaN,0.000000,NaN,2.178910e+06,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-17,365.510010,369.380005,362.170013,365.859985,365.859985,111071900,395.787142,-10.489969,31.000663,28.043401,-93.323733,3.901124e+10,-78.571429,-115.163421
2022-06-21,371.890015,376.529999,371.809998,375.070007,375.070007,76811900,393.082857,-10.587947,37.953207,28.384060,-76.660039,3.904053e+10,-78.571429,-70.501803
2022-06-22,370.619995,378.720001,370.179993,374.390015,374.390015,90059400,390.568573,-10.598294,37.651552,28.412387,-77.890350,3.903927e+10,-78.571429,-61.407011
2022-06-23,376.640015,378.829987,372.890015,378.059998,378.059998,79292100,387.759286,-10.192861,40.404630,28.423611,-70.811917,3.909800e+10,-57.142857,-45.943063
2022-06-24,381.399994,390.089996,381.369995,390.079987,390.079987,97860000,386.297856,-8.800196,48.435592,27.028336,-48.732572,3.919564e+10,-57.142857,3.301122

In [87]:
df.to_csv('SPYIndicators.csv')